{% unless product.tags contains 'recommendations' %}
{% assign product_found = false %}
{% assign skip = false %}
{% assign collection_group = products | map: 'id' %}
{% assign collection_group_thumb = collection_group | append : 'thumb' %}
{% assign collection_group_mobile = collection_group | append : 'mobile' %}

{% capture new_row %}
    <br class="clear product_clear" />
{% endcapture %}
<div class="section clearfix">
<div itemtype="http://schema.org/ItemList" class="products related">
  {% for product in products limit: 4 %}
    {% if product.id == skip_product.id or skip == true %}
      {% assign product_found = true %}
    {% else %}
      {% if forloop.rindex0 == 0 and product_found == false and forloop.length != products.count and template != 'search' %}
        {% assign skip = true %}
      {% else %}

        {% include 'product-thumbnail-related' with product-loop %}

        {% if products_per_row == "2" %}
          {% cycle collection_group: '', new_row %}
        {% elsif products_per_row == "3" %}
          {% cycle collection_group: '', '', new_row %}    
        {% elsif products_per_row == "4" %}  
          {% cycle collection_group: '', '', '', new_row %}
        {% endif %}
      {% endif %}    
    {% endif %}
  {% endfor %}
</div>
</div>
{% else %}

{% assign image_size = 'large' %}

{% if product.tags.size > 0 %}
<div class="section clearfix">
	<div class="products related"></div>
</div>


{% endif %}

<script type="text/javascript" charset="utf-8" async>
//<![CDATA[
  var recommendations = [];
  {% if product.metafields.recommendations.productHandles %}
  recommendations = jQuery.trim({{ product.metafields.recommendations.productHandles | json }}).split(/[\s,;]+/);
  {% endif %}
  if (recommendations.length && recommendations[0] !== '') {
    var list = jQuery('.related');
    for (var i=0; i<recommendations.length; i++) {
      jQuery.getJSON('/products/' + recommendations[i] + '.js', function(product) {
        list.append('<div class="four columns alpha thumbnail even"><a href="' + product.url +'"><div class="alpha thumbnail"><img style="opacity:1;" width="339" height="480" src="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_{{ image_size }}$1') + '" data-src-retina="' + product.images[0].replace(/(\.jpg|\.png|\.jpeg|\.gif)/, '_{{ grande }}$1') + '" /></div><div class="info"><span class="title medium"> '+ product.title +' </span><span class="price">' + Shopify.formatMoney(product.price, '{{ shop.money_format }}') + '</span></div></a></div>');
      });
    }
  }  
//]]>
</script>
  {% endunless %}
  