/*checkout mod*/
.logo::after{
	content:'A Philosophy Of Living By Donna Karan' !important;
  	position:absolute !important;
  	bottom:-4px;
  	left:80px;
  font-weight:300;
  font-size:13px;
  
  	
}

.logo{position:relative;}

.banner .wrap{
	width:100% !important;
}

.header{
	padding:15px 0;
}
.page--banner .banner {
padding:15px 0;

}
.banner .wrap{
	width:100% !important;
  	padding:0 30px !important;
  	max-width:100%;
	
}

.header .shop{
	width:100%;
}

.shop .shop__desc{
	position: absolute !important;
    bottom: -2px !important;
    font-size: 13px !important;
    left: 80px !important;
  	color:#c28742;
  	width:130px;
	font-weight:300;
  	letter-spacing:normal;
  	line-height:1;
}

.shop .shop__desc:after{
	content:" Donna Karan";
 	font-weight:bold;
}

.shop a:after {
  content: '< back to store';
  display: inline-block;
  padding: .5em .75em;
  border: 1px solid currentColor;
  margin: 1em 0;
  border-radius: 3px;
}