<!--<div id="splash" class="mobile_hidden splash"></div>-->
<div id="fullpage">
	<section class="section slide1 center">
		<div class="simpleHomeSlider mobile_hidden">
			<ul class="slides">
				<li class="item hpslide1 fadeIn">
					<div class="text text2">
						<h2 class="light">New Collection</h2>
						<h1 class="light">The Alchemist</h1>
						<p>Inspiring the nomadic traveler</p>
						<a href="/pages/the-alchemist-collection" target="_blank" class="cta-button">Shop</a>
					</div>
				</li>
				<li class="item hpslide2 fadeIn">
					<div class="text text3">
						<h2 class="light">COMMUNITY IN NEED</h2>
						<h1 class="light">HURRICANE MATTHEW<br>EMERGENCY RELIEF EFFORTS</h1>
						<p>In collaboration with Groupe Coles and on the ground partners we are organizing a delivery of emergency kits to reach 26,400 people in areas left isolated by the collapse of bridges and roads in the aftermath of Hurricane Matthew. Our relief efforts continue, and we need your help.</p>
						<a href="http://urbanzen.org/donate-to-haiti" target="_blank" class="cta-button">Get Involved</a>
					</div>
				</li>	
				<li class="item hpslide3 fadeIn">
					<div class="text text3">
						<h2 class="light">New Arrivals</h2>
						<h1 class="light">Jewelry</h1>	
						<p>Exploring handmade artistry with a soulful history</p>			
						<a href="/collections/accessories/jewelry" class="cta-button">Shop</a>
					</div>
				</li>	
				<li class="item hpslide4 fadeIn">
					<div class="text text3">
						<h2 class="light">INITIATIVE</h2>
						<h1 class="light">Naturally Haiti</h1>
						<p>Promoting economic growth through creativity and education</p>
						<a href="/pages/urban-zen-foundation" class="cta-button">Learn</a>
					</div>
				</li>
				<li class="item hpslide5 fadeIn">
					<div class="text text1">
						<h2 class="light">Foundation</h2>
						<h1 class="light">Empowering Children</h1>
						<p>Creating community in times of need. #HurricaneMatthew</p>
						<a href="/pages/urban-zen-foundation" class="cta-button">Learn</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="text text1 desktop_hidden">
			<h2 class="light">New Collection</h2>
			<h1 class="light">The Alchemist</h1>
			<a href="/pages/the-alchemist-collection" target="_blank" class="cta-button">Shop</a>
		</div>
	</section>
	<section class="section slide2 center removeDesktop">
		<div class="text text2">
			<h2 class="light">Community In Need</h2>
			<h1 class="light">HURRICANE MATTHEW<br>EMERGENCY RELIEF EFFORTS</h1>
			<a href="http://urbanzen.org/donate-to-haiti" target="_blank" class="cta-button">Get Involved</a>
		</div>
	</section>	
	<section class="section slide3 center removeDesktop">
			<div class="text text2">
				<h2 class="light">NEW ARRIVALS</h2>
				<h1 class="light">JEWELRY</h1>
				<a href="/collections/accessories/jewelry" target="_blank" class="cta-button">Shop</a>
			</div>

	</section>
	<section class="section slide4 center removeDesktop">
		<div class="text text3">
			<h2 class="light">Initiative</h2>
			<h1 class="light">NATURALLY HAITI</h1>	
			<a href="/pages/urban-zen-foundation" class="cta-button">Explore</a>
		</div>
	</section>
	<section class="section slide5 center removeDesktop">
		<div class="text text1">
			<h2 class="light">Foundation</h2>
			<h1 class="light">Empowering Children</h1>
			<a href="/pages/urban-zen-foundation" class="cta-button">Learn</a>
		</div>
	</section>
	{% include 'footer' %}
</div>