</div>
<div class="container page-template">
  <div class="center">
    <h2>Raise Awareness Inspire Change</h2>
	<h1>The Urban Zen Foundation</h1>
    <p>The Urban Zen Foundation creates, connects and collaborates to raise awareness and inspire change<br> in the areas of preservation of culture, well-being, and education.</p>
  </div>
  <br>
  <div class="section clearfix">
  <div class="one-third column center">
	  <img width="480" height="auto" src="{{ 'UZF_Culture_2016_1_large.jpg' | asset_url | split:'?' | first }}" alt="Preserving Cultures" />
	  <br>
	  <h4>Preserving Cultures</h4>
	  <p>Programs such as the Haiti Artisan Project and D.O.T promote economic development for artisan communities through education and job creation.</p>
	  <!--<a href="http://urbanzen.org/about/preserving-cultures/" target="_blank" class="cta-button"><span>Help Preserve</span></a>-->
  </div>
  <div class="one-third column center">
	  <img width="480" height="auto" src="{{ 'UZF_UZIT_2016_1_large.jpg' | asset_url | split:'?' | first }}" alt="Well-Being" />
	  <br>
	  <h4>Well-Being</h4>
	  <p>The mission of the Urban Zen Integrative Therapy Program is to change the current healthcare paradigm by caring for the patient.</p>
	  <!--<a href="http://uzit.urbanzen.org/" target="_blank" class="cta-button"><span>Help Care</span></a>-->
  </div>
  <div class="one-third column center">
	  <img width="480" height="auto" src="{{ 'Paula-Impact-1_large.jpg' | asset_url | split:'?' | first }}" alt="Empowering Children" />
	  <br>
	  <h4>Empowering Children</h4>
	  <p>Our mission is to care for our children’s well-being and give them the tools to face obstacles and opportunities with love, compassion & strength.</p>
	  <!--<a href="http://urbanzen.org/about/empowering-children/" target="_blank" class="cta-button"><span>Help Empower</span></a>-->
  </div>
</div>
  <div class="section clearfix dark-bg">
	<div class="inner center clearfix">
		<h2 class="light">Raise Awareness<span class="desktop_hidden"><br></span> Inspire Change</h2>
		<a href="http://urbanzen.org" target="_blank" class="btn cta-button"><span>Visit urbanzen.org</span></a>
	</div>
</div>
</div>