
<div class="container">
	<div class="section center">
		<h1>Haiti Artisan Project</h1>
	</div>
	<div class="section center">
		<p>Donna Karan was first introduced to Haiti by her inspiration, President Bill Clinton, and the Clinton Global Initiative. Instead of seeing the country’s devastation following the earthquake, Donna saw Haiti’s potential through the eyes of creativity and the spirit of its people. She immediately galvanized the design community and fashion world as part of her commitment to tell Haiti’s story through a new lens.</p>
		<p>The Haiti Artisan Project, founded by Donna Karan, promotes economic development through job creation and vocational education, helps raise awareness and highlights the creativity of Haiti’s artisans.</p>
	</div>
	<div class="section clearfix">
		<div class="cell-video-container">
			<iframe src="https://player.vimeo.com/video/29276643?color=ffffff&title=0&byline=0&portrait=0" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="section clearfix">
		<div class="image-quote center">
			<p>“Where there is creativity there is hope and Haiti is the most hopeful place I’ve experienced.”<br>– Donna Karan</p>
		</div>
	</div>
	<div class="section center">
		<h2>The journey began in Haiti for Donna</h2>
		<p>She was first introduced to Haiti by her inspiration, President Bill Clinton, and the Clinton Global Initiative. Instead of seeing the country’s devastation following the earthquake, Donna saw Haiti’s potential through the soul of its culture and the spirit of its people. In turn, the Haiti Artisan Project was born.</p>
	</div>
	<div class="section clearfix center">
		<h2>The Mission</h2>
		<p>Preserve Haiti's craftsmanship and highlight the creativity of its artisans.</p>
	</div>
	<div class="section center">
		<h2>The Artisan Community</h2>
		<p>As an ambassador to the preservation of Haiti’s artistry and expression, Donna Karan and our partners promote economic development through job creation and vocational education. We work one-on-one with artists who work with materials ranging from carved stone to horn, wooden bowls, made by hand beadwork from recycled materials, ironwork and metal transformed into chandeliers, steel drums etched and cut into tableaus, tobacco leaves sensuously wrapped in curvaceous vases and beyond.</p>
	 	<p>15 + Artisans Have Joined Our Artisan Community</p>
		<ul class="artisans">
			<li>Caribbean Craft</li>
			<li>Jean Paul Sylviance</li>
			<li>Atelier Calla</li>
			<li>Pascale Theard</li>
			<li>Paula Coles</li>
			<li>Apparent Project</li>
			<li>Maritou</li>
			<li>Wrought Iron by Cookie</li>
			<li>Philippe Dodard</li>
			<li>And more...</li>
		</ul>
	</div>
	<div class="section clearfix center">
		<h2>Soulful Give Back</h2>
		<h1>10% of net proceeds from the Haiti Artisan Project support our foundation's efforts in Haiti.
	</div>
	<div class="section center">
		<img  width="600" height="auto" src="{{ 'haiti_artisans.gif' | asset_url | split:'?' | first }}" alt="Our Mission In Haiti" />
	</div>
</div>
  
  
  
  