<div id="fullPage">
	<section class="section one center">
		<div class="text text1">
			<h2>“I have spent decades dressing people. <br>Now I want to address them.”</h2>
          <h4 class="light">– Donna Karan</h4>
     
		</div>
		<div class="overlay"></div>
	</section> 
	<section class="section two center">
		<div class="text text1">
			<h1>Our Foundation</h1>
			<p>The Urban Zen Foundation connects, collaborates and communicates to create change by raising awareness and inspiring action in the areas of preservation of cultures, well-being, and empowering children in mind, body & spirit.</p>
			<a href="/pages/urban-zen-foundation" class="cta-button">Read More</a>
		</div>
		<div class="overlay"></div>
	</section> 
	<section class="section three center">
		<div class="text text1">
			<h1>Haiti Artisan Project</h1>
			<p>The Haiti Artisan Project, founded by Donna Karan, promotes economic development through job creation and vocational education, helps raise awareness and highlights the creativity of Haiti’s artisans.</p>
			<a href="/pages/haiti-artisan-project" class="cta-button">Celebrate Creativity</a>
		</div>
		<div class="overlay"></div>
	</section> 
	<section class="section four center">
		<div class="text text1">
			<h1>D.O.T</h1>
			<p>The training facility supports the development of Haiti’s artisan community by fostering innovation and providing access to materials and machinery.</p>
			<a href="/pages/d-o-t-program" class="cta-button">Be Inspired</a>
		</div>
		<div class="overlay"></div>
	</section> 
	<section class="section five center">
		<div class="text text1">
			<h1>Not One More Initiative</h1>
			<p>In the wake of the shootings in Orlando, UC Santa Barbara, Newtown, Columbine, gun violence continues to affect families all around the world. Stand with us and take action.</p>
			<a href="/pages/not-one-more" class="cta-button">Raise Awareness</a>
		</div>
		<div class="overlay"></div>
	</section> 
	{% include 'footer' %}
</div>