<div class="container page-template">
  <div class="center">
	<h1>Apparel Size Guide</h1>
    <p>Measure directly on the body. If your measurements suggest different sizes, your hip measurement is leading. If your measurement is in between two sizes, we suggest you order a size up especially for our fitted dresses, leather pants and leather jackets. If you would like to talk to a sales associate about sizing please call 855-755-4848 and a customer service representative can direct you to the appropriate associate.</p>
  </div>
  <br>
 <h3 class="center"><strong>Regular Fit Guide (<em>inches</em>)</strong></h3>
 <table>
 	<tbody>
 		<tr>
 			<td class="centerCell"></td>
 			<td class="centerCell">
 				<h2>XS</h2>
 			</td>
 			<td class="centerCell">
 				<h2>S</h2>
 			</td>
 			<td class="centerCell">
 				<h2>M</h2>
 			</td>
 			<td class="centerCell">
 				<h2>L</h2>
 			</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Chest</h2></td>
 			<td class="centerCell">31</td>
 			<td class="centerCell">33</td>
 			<td class="centerCell">35</td>
 			<td class="centerCell">37</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Waist</h2></td>
 			<td class="centerCell">24.5</td>
 			<td class="centerCell">26.5</td>
 			<td class="centerCell">28.5</td>
 			<td class="centerCell">30.5</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Hip</h2></td>
 			<td class="centerCell">36</td>
 			<td class="centerCell">38</td>
 			<td class="centerCell">40</td>
 			<td class="centerCell">42</td>
 		</tr>
 	</tbody>
 </table>
<br>
 <table>
 	<tbody>
 		<tr>
 			<td class="centerCell"></td>
 			<td class="centerCell">
 				<h2>0</h2>
 			</td>
 			<td class="centerCell">
 				<h2>2</h2>
 			</td>
 			<td class="centerCell">
 				<h2>4</h2>
 			</td>
 			<td class="centerCell">
 				<h2>6</h2>
 			</td>
 			<td class="centerCell">
 				<h2>8</h2>
 			</td>
 			<td class="centerCell">
 				<h2>10</h2>
 			</td>
 			<td class="centerCell">
 				<h2>12</h2>
 			</td>
 			<td class="centerCell">
 				<h2>14</h2>
 			</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Chest</h2></td>
 			<td class="centerCell">31</td>
 			<td class="centerCell">32</td>
 			<td class="centerCell">33</td>
 			<td class="centerCell">34</td>
 			<td class="centerCell">35</td>
 			<td class="centerCell">36</td>
 			<td class="centerCell">37</td>
 			<td class="centerCell">38</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Waist</h2></td>
 			<td class="centerCell">24.5</td>
 			<td class="centerCell">25.5</td>
 			<td class="centerCell">26.5</td>
 			<td class="centerCell">27.5</td>
 			<td class="centerCell">28.5</td>
 			<td class="centerCell">29.5</td>
 			<td class="centerCell">30.5</td>
 			<td class="centerCell">31.5</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Hip</h2></td>
 			<td class="centerCell">36</td>
 			<td class="centerCell">37</td>
 			<td class="centerCell">38</td>
 			<td class="centerCell">39</td>
 			<td class="centerCell">40</td>
 			<td class="centerCell">41</td>
 			<td class="centerCell">42</td>
 			<td class="centerCell">43</td>
 		</tr>
 	</tbody>
 </table>
 <br>
 <br>
  <h3 class="center"><strong>Fit Guide for Sweaters, Coats, Jackets and Oversized Tops (<em>inches</em>)</strong></h3>
 <table>
 	<tbody>
 		<tr>
 			<td class="centerCell"></td>
 			<td class="centerCell">
 				<h2>P/S</h2>
 			</td>
 			<td class="centerCell">
 				<h2>S/M</h2>
 			</td>
 			<td class="centerCell">
 				<h2>M/L</h2>
 			</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Chest</h2></td>
 			<td class="centerCell">30</td>
 			<td class="centerCell">35</td>
 			<td class="centerCell">38</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Waist</h2></td>
 			<td class="centerCell">25.5</td>
 			<td class="centerCell">28.5</td>
 			<td class="centerCell">31.5</td>
 		</tr>
 		<tr>
 			<td class="centerCell first"><h2>Hip</h2></td>
 			<td class="centerCell">37</td>
 			<td class="centerCell">40</td>
 			<td class="centerCell">43</td>
 		</tr>
 	</tbody>
 </table>
</div>