<div class="container page-template">
	<div class="center">
		<h2>Raise Awareness Inspire Change</h2>
		<h1>Urban Zen Foundation</h1>
		<p>The Urban Zen Foundation creates, connects and collaborates to raise awareness and inspire change<br> in the areas of preservation of culture, well-being, and education.</p>
	</div>
	<div class="section clearfix center">
		<div class="cell-video-container">
			<iframe src="https://player.vimeo.com/video/180962508?color=FFFFFF&title=0&byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<br />
		<h4>Preserving Cultures</h4>
		<p>Programs such as the Haiti Artisan Project and D.O.T promote economic development for artisan communities through education and job creation.</p>
      	<br />
		<div class="cell-video-container">
			<iframe src="https://player.vimeo.com/video/180962509?color=FFFFFF&title=0&byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<br />
		<h4>Well-Being</h4>
		<p>The mission of the Urban Zen Integrative Therapy Program is to change the current healthcare paradigm by bringing care back into healthcare.</p>
		<br />
		<div class="cell-video-container">
			<iframe src="https://player.vimeo.com/video/180962506?color=FFFFFF&title=0&byline=0&portrait=0" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<br />
		<h4>Empowering Children</h4>
		<p>Our mission is to care for our children’s well-being and give them the tools to face obstacles and opportunities with love, compassion & strength.</p>
	</div>
</div>
